@import "tailwindcss";

@theme {
  --color-primary-500: rgb(59 130 246);
  --color-primary-600: rgb(37 99 235);
  --color-primary-700: rgb(29 78 216);
  --color-success-500: rgb(16 185 129);
  --color-success-600: rgb(5 150 105);
}
