node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.eslintrc.json
.prettierrc
.prettierignore
jest.config.js
cypress
cypress.config.js
tests
.DS_Store
.vscode
.cursor
.windsurfrules
.roo
.roo*
.taskmasterconfig
.github
*.md
temp_rembg_script.py


